{
	"ecmaFeatures": {
		"jsx": true,
		"modules": true
	},
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"rules": {
		"quotes": [1, "single"],
		"curly": [1, "all"],
		"no-empty": 1,
		"new-cap": 0,
		"eqeqeq": 1,
		"no-undef": 1,
		"no-eval": 0,
		"no-use-before-define": 1,
		"no-new": 1,
		"wrap-iife": 1,
		"strict": [1, "global"]
	}
}