#arrow {
	cursor: default;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
	text-shadow: 0px 0px 10px whitesmoke;
	font-size: 20px;
	user-select: none;
}
